In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
all_btc = pd.read_csv('../Data/BTC-USD.csv')
all_btc

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-11-21,322.092010,328.158997,319.595001,326.927002,326.927002,2.820050e+07
1,2015-11-22,326.975006,327.010010,321.259003,324.536011,324.536011,2.343940e+07
2,2015-11-23,324.350006,325.118011,321.290009,323.045990,323.045990,2.747890e+07
3,2015-11-24,323.014008,323.058014,318.118011,320.045990,320.045990,2.936260e+07
4,2015-11-25,320.045013,329.134003,316.769989,328.205994,328.205994,4.166690e+07
...,...,...,...,...,...,...,...
2188,2021-11-17,60139.621094,60823.609375,58515.410156,60368.011719,60368.011719,3.917839e+10
2189,2021-11-18,60360.136719,60948.500000,56550.792969,56942.136719,56942.136719,4.138834e+10
2190,2021-11-19,56896.128906,58351.113281,55705.179688,58119.578125,58119.578125,3.870241e+10
2191,2021-11-20,58115.082031,59859.878906,57469.726563,59697.195313,59697.195313,3.062426e+10
2192,2021-11-21,59689.230469,59897.675781,58641.667969,59558.062500,59558.062500,2.550275e+10

In [4]:
all_btc['Date'] =  pd.to_datetime(all_btc['Date'], format='%Y-%m-%d')

In [5]:
all_btc.set_index(all_btc.Date, inplace=True)

In [6]:
all_btc = all_btc.drop('Date', axis=1)
all_btc

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-11-21,322.092010,328.158997,319.595001,326.927002,326.927002,2.820050e+07
2015-11-22,326.975006,327.010010,321.259003,324.536011,324.536011,2.343940e+07
2015-11-23,324.350006,325.118011,321.290009,323.045990,323.045990,2.747890e+07
2015-11-24,323.014008,323.058014,318.118011,320.045990,320.045990,2.936260e+07
2015-11-25,320.045013,329.134003,316.769989,328.205994,328.205994,4.166690e+07
...,...,...,...,...,...,...
2021-11-17,60139.621094,60823.609375,58515.410156,60368.011719,60368.011719,3.917839e+10
2021-11-18,60360.136719,60948.500000,56550.792969,56942.136719,56942.136719,4.138834e+10
2021-11-19,56896.128906,58351.113281,55705.179688,58119.578125,58119.578125,3.870241e+10
2021-11-20,58115.082031,59859.878906,57469.726563,59697.195313,59697.195313,3.062426e+10
2021-11-21,59689.230469,59897.675781,58641.667969,59558.062500,59558.062500,2.550275e+10

In [7]:
adj_close_series = pd.Series(data=all_btc['Adj Close'], index=all_btc.index)

In [8]:
adj_close_series

Date
2015-11-21      326.927002
2015-11-22      324.536011
2015-11-23      323.045990
2015-11-24      320.045990
2015-11-25      328.205994
                  ...
2021-11-17    60368.011719
2021-11-18    56942.136719
2021-11-19    58119.578125
2021-11-20    59697.195313
2021-11-21    59558.062500
Name: Adj Close, Length: 2193, dtype: float64

In [9]:
all_btc['Percent Change'] = all_btc['Adj Close'].pct_change()
all_btc

,Open,High,Low,Close,Adj Close,Volume,Percent Change
Date,,,,,,,
2015-11-21,322.092010,328.158997,319.595001,326.927002,326.927002,2.820050e+07,NaN
2015-11-22,326.975006,327.010010,321.259003,324.536011,324.536011,2.343940e+07,-0.007314
2015-11-23,324.350006,325.118011,321.290009,323.045990,323.045990,2.747890e+07,-0.004591
2015-11-24,323.014008,323.058014,318.118011,320.045990,320.045990,2.936260e+07,-0.009287
2015-11-25,320.045013,329.134003,316.769989,328.205994,328.205994,4.166690e+07,0.025496
...,...,...,...,...,...,...,...
2021-11-17,60139.621094,60823.609375,58515.410156,60368.011719,60368.011719,3.917839e+10,0.003437
2021-11-18,60360.136719,60948.500000,56550.792969,56942.136719,56942.136719,4.138834e+10,-0.056750
2021-11-19,56896.128906,58351.113281,55705.179688,58119.578125,58119.578125,3.870241e+10,0.020678
2021-11-20,58115.082031,59859.878906,57469.726563,59697.195313,59697.195313,3.062426e+10,0.027144
2021-11-21,59689.230469,59897.675781,58641.667969,59558.062500,59558.062500,2.550275e+10,-0.002331

In [10]:
pct_change_series = pd.Series(data=all_btc['Percent Change'], index=all_btc.index)
pct_change_series.head(15)

Date
2015-11-21         NaN
2015-11-22   -0.007314
2015-11-23   -0.004591
2015-11-24   -0.009287
2015-11-25    0.025496
2015-11-26    0.074581
2015-11-27    0.015192
2015-11-28   -0.001846
2015-11-29    0.038930
2015-11-30    0.016232
2015-12-01   -0.039311
2015-12-02   -0.009106
2015-12-03    0.005176
2015-12-04    0.005919
2015-12-05    0.070945
Name: Percent Change, dtype: float64

In [11]:
def timeseries_to_supervised(data, lag=1):
    df = pd.DataFrame(data)
    columns = [df.shift(i) for i in range(1, lag+1)]
    columns.append(df)
    df = pd.concat(columns, axis=1)
    df.fillna(0, inplace=True)
    return df

In [12]:
timeseries_to_supervised(adj_close_series)

               Adj Close     Adj Close
Date
2015-11-21      0.000000    326.927002
2015-11-22    326.927002    324.536011
2015-11-23    324.536011    323.045990
2015-11-24    323.045990    320.045990
2015-11-25    320.045990    328.205994
...                  ...           ...
2021-11-17  60161.246094  60368.011719
2021-11-18  60368.011719  56942.136719
2021-11-19  56942.136719  58119.578125
2021-11-20  58119.578125  59697.195313
2021-11-21  59697.195313  59558.062500

[2193 rows x 2 columns]

In [13]:
def difference(dataset, interval=1):
    diff = list()
    for i in range(interval, len(dataset)):
        value = dataset[i] - dataset[i - interval]
        diff.append(value)
    return pd.Series(diff)

In [14]:
adj_close_diff = difference(adj_close_series)

In [15]:
pct_change_diff = difference(pct_change_series)

In [16]:
def inverse_difference(history, yhat, interval=1):
    return yhat + history[-interval]

In [17]:
adj_close_supervised = timeseries_to_supervised(adj_close_diff)

In [18]:
train_adj, test_adj, val_adj = (adj_close_supervised[0:2100], 
                                adj_close_supervised[2100:2160],
                                adj_close_supervised[2160:])

In [19]:
from sklearn.preprocessing import MinMaxScaler

def scale(train, test):
    scaler=MinMaxScaler(feature_range=(-1, 1))
    #Training data
    scaler.fit(train)
    train_scaled = scaler.transform(train)
    #Testing data
    scaler.fit(test)
    test_scaled = scaler.transform(test)
    return scaler, train_scaled, test_scaled

In [20]:
def invert_scaler(scaler, X, value):
    new_row = [x for x in X] + [value]
    array = np.array(new_row)
    array = array.reshape(1, len(array))
    inverted = scaler.inverse_transform(array)
    return inverted[0, -1]

In [21]:
scaler, train_scaled_adj, test_scaled_adj = scale(train_adj, test_adj)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

def fit_LSTM(train, batch_size, n_epoch, neurons):
    X, y = train[:, 0:-1], train[:, -1]
    X = X.reshape(X.shape[0], 1, X.shape[1])
    model = Sequential()
    model.add(LSTM(neurons, batch_input_shape=(batch_size, X.shape[1], 
                                               X.shape[2], stateful==True)))
    model.add(Dense(1))
    model.compile(loss='mean_squared_error', optimizer='adam')
    for i in range (n_epoch):
        model.fit(X, y, epochs=1, batch_size=batch_size, verbose=0, shuffle=False)
        model.reset_states()
    return model